//base globals
$font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
$arrow-border-size:6px;
$tooltip-border-radius:0px;


//Colors
$main-color: #242424;
$accent-color:#605c54;
$accent-color-alt:#ffffff;
$accent-color-dark: #404040;
$accent-color-light: #DCC93e;
$error-color:#cc0000;
$warn-color:#ff9900;
$positive-color:#79A342;


$text-color:white;

//tooltip layout
$tooltip-padding:5px 10px;
$tooltip-max-width: auto;



